<!-- Describe task in general -->
<p>
    Тобі дано текст і список слів. Потрібно перевірити, чи слова у списку розташовані в тому ж порядку, що й у наведеному тексті.
</p>
<p> Випадки, які ти маєш очікувати під час вирішення цього завдання:</p>
<ul>
    <li>слова зі списку немає в тексті - твоя функція повинна повернути <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>будь-яке слово може зустрічатися в тексті більше одного разу – використовуй лише перше;</li>
    <li>два слова в наданому списку однакові - твоя функція має повернути <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>умова чутлива до регістру, що означає, що <b class="code">"hi"</b> і <b class="code">"Hi"</b> — це два різні слова;</li>
    <li>текст містить лише англійські літери та пробіли.</li>
</ul>
<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Текст у вигляді рядка та список слів у вигляді рядків.
</p>
<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


