<!-- Describe task in general -->
<p>
    Sie haben einen Text und eine Folge von Wörtern. Sie müssen prüfen, ob die Wörter in der Folge in der gleichen Reihenfolge erscheinen wie im vorgegebenen Text.
</p>
<p> Fälle, die Sie beim Lösen dieser Aufgabe erwarten sollten:</p>
<ul>
    <li>ein Wort aus der Sequenz ist nicht im Text enthalten - Ihre Funktion sollte zurückgeben <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>jedes Wort kann mehr als einmal in einem Text vorkommen - verwenden Sie nur das erste Wort;</li>
    <li>zwei Wörter in der gegebenen Sequenz sind gleich - Ihre Funktion sollte zurückgeben <b class="code">{% if is_js %}f{% else %}F{% endif %}alse</b>;</li>
    <li>die Bedingung unterscheidet Groß- und Kleinschreibung, d.h. <b class="code">'hi'</b> und <b class="code">'Hi'</b> sind zwei verschiedene Wörter;</li>
    <li>der Text enthält nur englische Buchstaben und Leerzeichen.</li>
</ul>
<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zwei Argumente. Das erste ist ein gegebener Text als String <span>(str{% if is_js %}ing{% endif %})</span>, das zweite ist {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}array{% else %}list{% endif %})</span> von Wörtern als Zeichenkette <span>(str{% if is_js %}ing{% endif %})</span>.
</p>
<p>
   <strong>Ausgabe:</strong> Logischer Wert <span>(bool{% if is_js %}ean{% endif %})</span>.
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


